<super-tabs tabsPlacement="bottom" id="mainTabs"  selectedTabIndex="1"  config="{'sideMenu':'left'}" toolbarColor="toolbarColor" toolbarBackground="toolbarBackgroundColor" (tabSelect)="onSelect($event)">
  <super-tab [root]="page1" title="HOME" icon="md-home"></super-tab> 
  <super-tab [root]="page2" title="EVENT" icon="md-calendar" ></super-tab>
  <super-tab [root]="page3" title="CHAT" icon="md-chatboxes"></super-tab>
  <super-tab [root]="page4" title="MY PROFILE" icon="md-person"></super-tab>
</super-tabs>