page-event {
    .event-image{
        // background-image: url('../assets/icon/thumnail-image.png');
        height: 80px;
        width: 100px;
    }
    .heading{
        // font-size: 20px;
        color: #02A1E2;
        padding: 5px 0;        
    }
    .time{
        color: red;
    }
    .event-row{
        border: 1px solid lightgray;
        margin: 5px 0;
        border-radius: 2px;
    }
    .padding{
        padding: 2px 0;
        // font-size: 16px
    }
    .col-event-detail{
        padding-left: 15px;
        align-self: center;
    }

    ion-segment{
    background:#354684;
    }
    .segment-md .segment-button{color: #ffffff;}
    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: #ffffff;
    opacity: 1;
}


.comm_sec ion-icon {
    background: #4abb06;
    color: #fff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    margin-right: 5px;
    margin-top: -40px;
    float: right;
}

.com_input ion-textarea {
    width: 70%;
    float: left;    background: #eaeaea;
    
}
.com_input button {
       width: 25%;
    font-size: 11px;
    margin: 0;
    height: 26px;
    border-radius: 0px;
    
}
.com_input {
    margin-top: 5px;
}
.text-input-md {
    margin: 5px 8px;}

.com_input .button-md{background:#425497 !important;}    

.comm_sec {
    position: relative;
    z-index: 99999;
}

}
