<ion-header>
  <ion-navbar>
    <button ion-button menuToggle> <ion-icon name="menu"></ion-icon></button>
    <ion-title>List of Event</ion-title>
  </ion-navbar>

  <ion-segment [(ngModel)]="pet">
    <ion-segment-button value="kittens"> Live Events  </ion-segment-button>
    <ion-segment-button value="puppies"> Past Event </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content no-padding>
  <div [ngSwitch]="pet" class="all_evnts" *ngIf="userDetails.status_id!=3  && userDetails.status_id!=0">
    <div *ngSwitchCase="'kittens'">
      <ion-grid *ngIf="!noData">
        <ion-row class="event-row" (click)="openEvent(i)" *ngFor="let event of eventDummydata; let i=index;">
          <ion-col col-4>
            <div class="event-image image" [style.backgroundImage]="event?.event_image"></div>
          </ion-col>
          <ion-col col-8 text-left class="col-event-detail">
            <div class="heading" [ngStyle]="theme?.special()">
              {{event?.event_name}} 
            </div>
            <div class="padding" [ngStyle]="theme?.heading()">From :
              <span class="time" [ngStyle]="theme?.data()">{{event?.from_date}}</span>
            </div>
            <div class="padding" [ngStyle]="theme?.heading()">To &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
              <span class="time" [ngStyle]="theme?.data()">{{event?.to_date}}</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="noData"> <div class="no-data"> No schedule event </div> </ion-grid>
    </div>
    <div *ngSwitchCase="'puppies'">
      <ion-grid *ngIf="!noData1">
        <div class="evn_row" *ngFor="let event of oldEvents; let i=index;">
          <ion-row class="event-row" (click)="openOldEvent(i)" >
            <ion-col col-4>
              <div class="event-image image" [style.backgroundImage]="event?.event_image"></div>
            </ion-col>
            <ion-col col-8 text-left class="col-event-detail">
              <div class="heading" [ngStyle]="theme?.special()">
                {{event?.event_name}} </div>
              <div class="padding" [ngStyle]="theme?.heading()">From :
                <span class="time" [ngStyle]="theme?.data()">{{event?.from_date}}</span>
              </div>
              <div class="padding" [ngStyle]="theme?.heading()">To &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                <span class="time" [ngStyle]="theme?.data()">{{event?.to_date}}</span>
              </div>
            </ion-col>
          </ion-row>
          <div class="comm_sec">
              <ion-icon name="ios-chatbubbles" (click)="getcomment(i)"></ion-icon>
              <div class="com_input" *ngIf="event.showDiv=='true'">
                <ion-textarea placeholder="Write Comment" [(ngModel)]="event.feedback" name="feedback" (keyup)="filterEmoji($event)"></ion-textarea>
                <button ion-button (click)="saveevent(i)">Submit</button> 
              </div>
          </div>
        </div>
      </ion-grid>
      <ion-grid *ngIf="noData1"> <div class="no-data"> No past event </div> </ion-grid>
    </div>
  </div>
  <ion-row *ngIf="userDetails.status_id==3  || userDetails.status_id==0">
    <ion-col col-12 no-padding text-center>
      <div class="no-data">Once your profile approved you can access this page</div>
    </ion-col>
  </ion-row>

  
  
</ion-content>
