<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="edit()">
        <img src="assets/icon/blue-edit-icon.png" class="create">
        <ion-icon ios="md-create" md="md-create"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>


<ion-content no-padding fixed>
  <ion-grid class="grid-image">
    <ion-row>
      <ion-col col-12 class="images">
        <div class="backgroundImage image blur"></div>
        <div class="profileImage image" [style.backgroundImage]="
        sanitizer.bypassSecurityTrustStyle('url(' + user_image + ')')
         " (click)="choosePhoto()"></div>
        <ion-icon ios="md-create" md="md-create" class="pencil" (click)="choosePhoto()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="no-scroll">
    <form [formGroup]="profileForm">
      <ion-row class="row-mobile">
        <ion-col col-1 text-center>
          <ion-icon ios="md-phone-portrait" md="md-phone-portrait"></ion-icon>
        </ion-col>
        <ion-col col-10 text-left class="align-center">
          <div class="mobile" [ngStyle]="theme?.heading()">Mobile No. :</div>
        </ion-col>
        <ion-col col-12 text-right class="bdr-btm">
          <div [ngStyle]="theme?.data()">{{userProfile?.mobile_no}}</div>
        </ion-col>
      </ion-row>

      <ion-row class="row-common">
        <ion-col col-1 text-center>
          <ion-icon ios="md-create" md="md-create"></ion-icon>
        </ion-col>
        <ion-col col-10 text-left class="align-center">
          <div class="email" [ngStyle]="theme?.heading()">Name :</div>
        </ion-col>
        <ion-col col-12 text-right text-nowrap class="bdr-btm">
          <ion-item>
            <!-- (focusout)="removePadding()" -->
            <ion-input [ngStyle]="theme?.data()" [disabled]="isDisabled" formControlName="name" type="text" placeholder="Type Name"  (keyup)="filterEmoji('name', $event)" maxlength="50"></ion-input>
          </ion-item>
          <p class="error" text-left>
            <span *ngIf="profileForm?.controls['name']?.hasError('required') && (profileForm?.controls['name']?.dirty || isFormInvalid)">Name is Required.</span>
            <span *ngIf="profileForm?.controls['name']?.hasError('pattern')">Not a valid Name.</span>
            <span class="error" *ngIf="profileForm?.controls['name']?.hasError('maxlength')">  Maximum 50 characters </span>
          </p>
        </ion-col>
      </ion-row>

      <ion-row class="row-common">
        <ion-col col-1 text-center>
          <ion-icon ios="md-mail" md="md-mail"></ion-icon>
        </ion-col>
        <ion-col col-10 text-left class="align-center">
          <div class="email" [ngStyle]="theme?.heading()">Email :</div>
        </ion-col>
        <ion-col col-12 text-right text-nowrap class="bdr-btm">
          <ion-item>
            <!-- (focusout)="removePadding()" -->
            <ion-input [ngStyle]="theme?.data()" [disabled]="isDisabled" formControlName="email" type="email" placeholder="Type Email"
               (keyup)="filterEmoji('email', $event)" maxlength="50"></ion-input>
          </ion-item>
          <p class="error" text-left>
            <span *ngIf="profileForm?.controls['email']?.hasError('required') && (profileForm?.controls['email']?.dirty || isFormInvalid)">Email is Required.</span>
            <span *ngIf="profileForm?.controls['email']?.hasError('pattern')">Not a valid email.</span>
            <span class="error" *ngIf="profileForm?.controls['email']?.hasError('maxlength') && (profileForm?.controls['email']?.touched)">  Maximum 50 characters </span>
          </p>
        </ion-col>
      </ion-row>

      <ion-row class="row-common">
        <ion-col col-1 text-center>
          <ion-icon ios="md-lock" md="md-lock"></ion-icon>
        </ion-col>
        <ion-col col-10 text-left class="align-center">
          <div class="address" [ngStyle]="theme?.heading()">Address :</div>
        </ion-col>
        <ion-col col-12 text-right class="bdr-btm">
          <ion-item>
              <!-- (input)="change()" (focusout)="removePadding()" -->
            <ion-input [ngStyle]="theme?.data()" class="address-textarea" rows="1" #ip  [disabled]="isDisabled" (keyup)="filterEmoji('address', $event)"
              formControlName="address" type="text" placeholder="Type Address" ></ion-input>
          </ion-item>
          <p class="error" text-left>
          <span *ngIf="profileForm?.controls['address']?.hasError('required') && (profileForm?.controls['address']?.dirty || isFormInvalid)">Address is Required</span>
          <span *ngIf="profileForm?.controls['address']?.hasError('pattern')">Not a valid address.</span>
        </p>
        </ion-col>
      </ion-row>

      <ion-row class="row-common">
        <ion-col col-1 text-center>
          <ion-icon ios="md-lock" md="md-lock"></ion-icon>
        </ion-col>
        <ion-col col-10 text-left class="align-center">
          <div class="address" [ngStyle]="theme?.heading()">State / County :</div>
        </ion-col>
        <ion-col col-12 text-right class="bdr-btm">
          <ion-item>
              <!-- interface="action-sheet" -->
            <ion-select class="select-form" formControlName="state_id" (ionChange)="getStateCities()" >
              <ion-option [value]="state?.id" [ngStyle]="theme?.data()" *ngFor="let state of states;">{{state?.name}}</ion-option>
            </ion-select>
          </ion-item>
          <p class="error" text-left *ngIf="profileForm?.controls['state_id']?.hasError('required') && (profileForm?.controls['state_id']?.dirty || isFormInvalid)">State is Required</p>
        </ion-col>
      </ion-row>

      <ion-row class="row-common">
        <ion-col col-1 text-center>
          <ion-icon ios="md-lock" md="md-lock"></ion-icon>
        </ion-col>
        <ion-col col-10 text-left class="align-center">
          <div class="address" [ngStyle]="theme?.heading()">City :</div>
        </ion-col>
        <ion-col col-12 text-right class="bdr-btm">
          <ion-item>
              <!-- interface="action-sheet" -->
            <ion-select class="select-form" formControlName="city_id" >
              <ion-option [value]="city?.id" [ngStyle]="theme?.data()" *ngFor="let city of cities;">{{city?.name}}</ion-option>
            </ion-select>
          </ion-item>
          <p class="error" text-left *ngIf="profileForm?.controls['city_id']?.hasError('required') && (profileForm?.controls['city_id']?.dirty || isFormInvalid)">City is Required</p>
        </ion-col>
      </ion-row>

      <ion-row class="row-common">
        <ion-col col-1 text-center>
          <ion-icon ios="md-lock" md="md-lock"></ion-icon>
        </ion-col>
        <ion-col col-10 text-left class="align-center">
          <div class="address" [ngStyle]="theme?.heading()">{{theme?.defaultTheme.pincode_label}} :</div>
        </ion-col>
        <ion-col col-12 text-right class="bdr-btm">
          <ion-item>
            <ion-input [ngStyle]="theme?.data()" [disabled]="isDisabled" formControlName="pincode" type="text" placeholder="{{theme?.defaultTheme.pincode_label}}" (keyup)="filterEmoji('pincode', $event)" maxlength="50"></ion-input>
          </ion-item>
          <p class="error" text-left>
          <span *ngIf="profileForm?.controls['pincode']?.hasError('required') && (profileForm?.controls['pincode']?.dirty || isFormInvalid)">Pincode is Required</span>
          <span *ngIf="profileForm?.controls['pincode']?.hasError('pattern')">Not a valid {{theme?.defaultTheme.pincode_label}}</span>
          <span class="error" *ngIf="profileForm?.controls['pincode']?.hasError('maxlength')">Maximum 11 characters </span>
        </p>
        </ion-col>
      </ion-row>

      <ion-row class="row-common">
        <ion-col col-1 text-center>
          <ion-icon ios="md-lock" md="md-lock"></ion-icon>
        </ion-col>
        <ion-col col-10 text-left class="align-center">
          <div class="address" [ngStyle]="theme?.heading()">City of origin :</div>
        </ion-col>
        <ion-col col-12 text-right class="bdr-btm">
          <ion-item>
            <!-- interface="action-sheet" -->
            <ion-select class="select-form" [disabled]="isDisabled" [disabled]="isDisabled" formControlName="city_of_origin" >
              <ion-option [value]="cityorigin?.id" [ngStyle]="theme?.data()" *ngFor="let cityorigin of cityOriginList;">{{cityorigin?.value}}</ion-option>
            </ion-select>

            <!-- <ion-input [ngStyle]="theme?.data()" [disabled]="isDisabled" formControlName="city_of_origin" type="text" placeholder="Type City"
              (focusout)="removePadding()" (keyup)="filterEmoji('city_of_origin', $event)"></ion-input> -->
          </ion-item>
          <p class="error" text-left *ngIf="profileForm?.controls['city_of_origin']?.hasError('required') && (profileForm?.controls['city_of_origin']?.dirty || isFormInvalid) || profileForm?.controls['city_of_origin'].value==0">City Of origin is Required</p>
        </ion-col>
      </ion-row>
      

      <ion-row class="row-common">
        <ion-col col-12>
          <div class="mode-comm" [ngStyle]="theme?.heading()">Mode of Communication</div>
        </ion-col>
        <ion-col col-12 class="mode-of-comm bdr-btm">
          <ion-item>
            <!-- <ion-label>Mode of Communication</ion-label> -->
            <!-- interface="action-sheet" -->
            <ion-select class="select-form" [disabled]="isDisabled" formControlName="modeOfCommunication" multiple="true">
              <ion-option value="1" [ngStyle]="theme?.data()">Email</ion-option>
              <ion-option value="2" [ngStyle]="theme?.data()">Chat</ion-option>
              <ion-option value="3" [ngStyle]="theme?.data()">Phone</ion-option>
            </ion-select>
          </ion-item>
          <!-- <p class="error" text-left *ngIf="profileForm?.controls['modeOfCommunication']?.hasError('required') && (profileForm?.controls['modeOfCommunication']?.dirty || isFormInvalid)">Mode Of communication is Required</p> -->
        </ion-col>
      </ion-row>

      <ion-row class="row-common">
        <ion-col col-1 text-center>
          <ion-icon ios="md-settings" md="md-settings"></ion-icon>
        </ion-col>
        <ion-col col-10 text-left class="align-center">
          <div class="email" [ngStyle]="theme?.heading()">Profession :</div>
        </ion-col>
        <ion-col col-12 text-right text-nowrap class=" bdr-btm">
          <!-- <div>Plumber</div> -->
          <ion-item>
            <!-- interface="action-sheet" -->
            <ion-select class="select-form" [disabled]="isDisabled" formControlName="professionalService" >
              <ion-option [value]="profession?.id" [ngStyle]="theme?.data()" *ngFor="let profession of professionalList; let i=index">{{profession?.value}}</ion-option>
              <!-- <ion-option value="2" [ngStyle]="theme?.data()">Driver</ion-option> -->
              <!-- <ion-option value="3" [ngStyle]="theme?.data()">Mechanic</ion-option> -->
            </ion-select>
          </ion-item>
          <p class="error" text-left *ngIf="profileForm?.controls['professionalService']?.hasError('required') && (profileForm?.controls['professionalService']?.dirty || isFormInvalid)">Professional Service is Required</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <button ion-button [disabled]="isDisabled" (click)="submit()" class="submitButton" full>
            Submit
          </button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

</ion-content>
