page-performance-modal {
    .event-detail{
        number-slider{
            width: 100%;
        }

        .item-dance{
            padding-left: 0;

            .select-md{
                padding: 13px 8px 13px 0px;
            }
        }
        .item-md.item-block .item-inner{
            padding-right: 0px;
            border-bottom: none;
        }
        .item-range ion-range{
            width: 90%;
            padding-top: 0;
            padding: 0;
        }

        background-color: white;
        // border: 1px solid lightgray;
        display: flex;
        /*justify-content: space-between;
        padding: 8px 10px;
        margin: 5px 0;
        height: 50px;*/
        align-items: center;

        .event-detail-color{
            color: #777777;
        }
        .extra{
            .text-input-md {
                text-align: left;
                   border: 1px solid #ccc;
                   height: 80px !important;
                   min-height: 80px !important;
                   margin: 0;
                   width: 100%;
                   padding: 10px;

            }
        }
        .event-detail-data{
            font-weight: 300;
            width: 100%;

            .text-input{
                border-bottom: 1px solid lightgray;
            }
        } 
    }
    .performance{
        max-width: 100%;
        padding: 5px 8px 5px 16px;
    }

    .grid-detail{
        background-color: #fafafa;
    }
    .row-detail{
        background-color: #fafafa;
    }
    .item-md{
        padding-left: 0;
    }
    .item-md.item-block .item-inner{
        padding-right: 0;
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
        border-bottom-color: white;
        box-shadow: none;        
    }
    .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
        border-bottom-color: white;
        box-shadow: none;
    }
}
