<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>scan-qr-code</ion-title> -->
  </ion-navbar>

</ion-header>


<ion-content no-padding #content *ngIf="!scanResult" style="background: none transparent;">
  <div class="container">
    <ion-grid text-center>
      <ion-row (click)="submit(1)">
        <ion-col class="scan-area top-left" col-2></ion-col>
      </ion-row>
      <ion-row (click)="submit(0)">
        <ion-col class="scan-area bottom-right" col-2></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-content no-padding *ngIf="scanResult">
  <ion-grid *ngIf="!noData">
    <ion-row *ngIf="result?.Entrydetail?.qrcode_image">
      <ion-col col-12 text-center>
        <div class="image qr-image" [style.backgroundImage]="'url(' + result?.Entrydetail?.qrcode_image + ')'"></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 text-center>
        <p class="result-id">Confirmed attendance for reference no #{{result?.Entrydetail?.id}}</p>
        <p class="result-detail">Registration details</p>
      </ion-col>
    </ion-row>

    <ion-row class="heading">
      <ion-col offset-1 col-5 text-left>
        <div>Name</div>
      </ion-col>
      <ion-col col-5 text-right>
        <div>Amount</div>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let _result of result?.Membersdetail">
      <ion-col offset-1 col-5 text-left>
        <div>{{_result?.name}}</div>
      </ion-col>
      <ion-col col-5 text-right>
        <div>{{_result?.amount}}</div>
      </ion-col>
    </ion-row>

    <ion-row class="total-tickets"> 
      <ion-col text-left offset-1 col-11>Total Tickets #{{result?.Membersdetail?.length}} </ion-col>
      <div *ngIf="result?.is_donation_accept == '1'">
        <ion-col text-left offset-1 col-11><small>Ticket Amount #{{result?.ticket_amount}} {{theme?.defaultTheme?.currency}} </small></ion-col>
        <ion-col text-left offset-1 col-11><small>Donation Amount #{{result?.donation_amount}} {{theme?.defaultTheme?.currency}} </small></ion-col>
      </div>
      <ion-col text-left offset-1 col-11>Total Amount #{{total}} {{theme?.defaultTheme?.currency}}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="noData">
    <ion-col col-12 no-padding text-center>
      <div class="no-data">No Data Found</div>
    </ion-col>
  </ion-grid>
</ion-content>

<ion-footer text-center *ngIf="scanResult">
  <button ion-button (click)="close()" class="submitButton" full *ngIf="!noData">
    Close
  </button>

  <!-- <button ion-button (click)="ionViewDidEnter()" class="submitButton" full *ngIf="noData">
    Retry
  </button> -->

</ion-footer>
