page-scan-qr-code {
.grid {
    margin-top: 13%;
}
  .container {
    display: flex;
    height: 100%;
  }
  .scan-area {
    height: 58.33px;
    width: 100%;
    border-radius: 5px;
  }
  .top-left {
    border-top: 3px solid #50FFEB;
    border-left: 3px solid #50FFEB;
    margin-bottom: 20px;
    margin-left: 30%;
  }
  .bottom-right {
    border-bottom: 3px solid #50FFEB;
    border-right: 3px solid #50FFEB;
    margin-top: 20px;
    margin-left: 55%;
  }
  .grid {
    // height: 100%;
    justify-content: center;
  }
  .result-id {
    // font-size: 14px;
  }
  .heading {
    border: 1px solid lightgray;
    color: white;
  }
  .total-tickets {
    margin-top: 50px;
  }
  .qr-image {
    // border: 5px solid lightgray;
    height: 100px;
    width: 100px;
    margin: auto;
    background-size: contain;
  }
  p {
    margin: 0.25em 0;
  }
}
