<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{theme?.defaultTheme?.community_name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid class="grid-search" >
    <ion-row class="row-search" *ngIf="userDetails.status_id!=3  && userDetails.status_id!=0">
      <ion-col col-12>
        <!-- <div class="search">Search By</div> -->
        <ion-item class="search">
          <ion-label *ngIf="!searchType" [ngStyle]="theme?.heading()">Search By</ion-label>
          <ion-select class="select-form" [(ngModel)]="searchType" (ionChange)="valueChange($event)">
            <!-- <ion-option [value]="profession?.id" [ngStyle]="theme?.data()" *ngFor="let profession of professionalList; let i=index">{{profession?.value}}</ion-option> -->
            <ion-option value="Profession" [ngStyle]="theme?.data()">By Profession</ion-option>
            <ion-option value="City" [ngStyle]="theme?.data()">By City</ion-option>
            <ion-option value="Alphabetic" [ngStyle]="theme?.data()">By Alphabetical</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-input class="bdr-btm" placeholder="Search" clearInput [formControl]="search" (keyup)="filterEmoji($event)" (focusout)="removePadding()"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="userDetails.status_id!=3  && userDetails.status_id!=0">
      <ion-col col-12 class="col-person" *ngIf="!noData">
        <ion-list class="list-person" *ngFor="let _data of userList; let i=index">
          <ion-list-header [ngStyle]="theme?.heading()" (click)="openPeopleDetails(i)" [class.highlight]="_data?.show">
            {{_data?.key}}
          </ion-list-header>
          <span *ngIf="_data?.show">
            <ion-item text-uppercase class="item-person bdr-btm" (click)="personDetails(person)" *ngFor="let person of _data?.value" >
              <p [ngStyle]="theme?.data()">{{person?.name || 'DEFAULT USER'}}</p>
              <ion-icon name="ios-call" item-end (click)="makeCall(person)" *ngIf="((person?.mode_of_communication?.includes('0') || person?.mode_of_communication?.includes('3')) && (userDetails.id!=person.id))"></ion-icon>
                <ion-icon name="ios-mail" item-end (click)="makeMail(person)" *ngIf="(person.email != '') && ((person?.mode_of_communication?.includes('0') || person?.mode_of_communication?.includes('1')) && (userDetails.id!=person.id))"></ion-icon>
                <ion-icon name="ios-chatbubbles" item-end (click)="makeChat(person)" *ngIf="((person?.mode_of_communication?.includes('0') || person?.mode_of_communication?.includes('2')) && (userDetails.id!=person.id))"></ion-icon>
            </ion-item>
          </span>
        </ion-list>
      </ion-col>
      <ion-col col-12 no-padding *ngIf="noData" text-center>
        <div class="no-data">No Data Found</div>
      </ion-col>
    </ion-row>  
    
    <ion-row *ngIf="userDetails.status_id==3 || userDetails.status_id==0">
      <ion-col col-12 no-padding text-center>
        <div class="no-data">Once your profile approved you can access this page</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
