<div class="container" [ngClass]="{'showDisable' : disabled}">
  <div class="button" (click)="decrease()">-</div>
  <div class="text" [ngStyle]="theme?.data()" > <ion-input class="slider-inpu" [disabled]="noneditable" type="number" (keyup)="emitValueChange($event)" [(ngModel)]="number"></ion-input> </div>
  <div class="button" (click)="increase()">+</div>
</div>
