<ion-menu [content]="content">
  <ion-header class="menu_head">
    <ion-grid class="menu-header-grid" text-left>
      <ion-row class="menu-header-row">
        <ion-col col-12 class="menu-header-col">
          <div class="profile image" [style.backgroundImage]="
          sanitizer.bypassSecurityTrustStyle('url(' + user_image + ')')
          " (click)="choosePhoto()"></div>
          <p (click)="editProfile()" class="edipr_btn">Edit profile</p>
          <h4>{{userDetails?.name}}</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>

  <ion-content class="menu">
    <ion-list text-center>
      <ion-item class="item first"  *ngIf="+userDetails?.status_id == 2">
        <ion-icon name="home" item-start></ion-icon>
        <button menuClose ion-item (click)="vendorList()"> Vendor List </button>
      </ion-item>
      <ion-item class="item" *ngIf="+userDetails?.status_id == 2">
        <ion-icon name="cash" item-start></ion-icon>
        <button menuClose ion-item (click)="promotionDiscount()"> Promotion & <br *ngIf="global?.platform?.width() < 360"> Discount </button>
      </ion-item>
      <ion-item class="item">
        <ion-icon name="ios-information-circle-outline" item-start></ion-icon>
        <button menuClose ion-item (click)="aboutUs()"> About Us </button>
      </ion-item>
      <ion-item class="item">
        <ion-icon name="notifications" item-start></ion-icon>
        <button menuClose ion-item (click)="contactUs()"> Contact Us </button>
      </ion-item>
      <ion-item class="item">
        <ion-icon name="settings" item-start></ion-icon>
        <button menuClose ion-item (click)="setting()"> Change Pin </button>
      </ion-item>
      <ion-item class="item">
        <ion-icon name="lock" item-start></ion-icon>
        <button menuClose ion-item (click)="privacyPolicy()"> Privacy Policy </button>
      </ion-item>
      <ion-item class="item">
        <ion-icon name="log-in" item-start></ion-icon>
        <button menuClose ion-item (click)="logout()"> Logout </button>
      </ion-item>
    </ion-list>

    <!-- <ion-grid no-padding> -->
    <ion-grid no-padding *ngIf="+userDetails?.user_type == 1 || +userDetails?.user_type == 2">
      <ion-row class="qr-row">
        <ion-col no-padding col-12 text-center (click)="scanQRCode()">
          <div class="qrImage image"></div>
          <div class="text-qr">Tap to Verify Event Entry</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootMenuPage" #content swipeBackEnabled="false"></ion-nav>
